<div class="container-fluid">
	<div class="row">
		<center>
			<h1>Contact Us</h1>
		</center>
	</div>
	<div class="col-md-6">
		<img src="/assets/flash.png">
	</div>
	<div class="col-md-6">
		<br>
		<br>
		<br>
		<center>
			<h3>
			Email me questions at flash@vividkick.com
			</h3>
		</center>
		
	</div>
	
</div>




