<div class="jumbotron"> 
    <img class="img-responsive", id="image" src="./assets/lake.jpg" width="100%" height="100">
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<center>
				<h2 id="title">Templates</h2>
			</center>	
		</div>
		<div class="col-md-4">
		</div>
	</div>
	<br>	
</div>	

	<div class="row" id="templates">
		<% @products.each do |product| %>
		<div class="col-md-3">
			<a href="<%= product_path(product) %>">
				<div class="product-image-container">
					<img src="<%= asset_path product.image_name %>" id="picture"/>
					<center>
						<p id="title">$<%= product.price %></p>
						<p id="title"><%= product.title %></p>	
					</center>
				</div>	
			</a>
		</div>
		<% end %>
	</div>
	<br>
<!-- <div class="container">
	<div class="row">
		<div class="col-md-6">
			<img class="img-responsive", id="vividkick" src="./assets/favicon.png">	
			<ul>Vividkick can do this</ul>
			<ul>And Vividkick can do this</ul>
			<ul>And Vividkick can that too</ul>
			
		</div>
		
	</div>
	
</div> -->
	
	<br>




