<div class="jumbotron"> 
    <img class="img-responsive", id="image" src="./assets/lake.jpg" width="100%" height="100">
</div>
<div class="container">
	<div class="row">
		<center>
			<div class="col-md-3">Picture</div>
			<div class="col-md-3">Picture</div>
			<div class="col-md-3">Picture</div>
			<div class="col-md-3">Picture</div>
		</center>
	</div>
</div>