<div class="jumbotron"> 
    <img class="img-responsive", id="image" src="./assets/lake.jpg" width="100%" height="100">
</div>

<!-- Top Sellers -->
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<center>
				<h2>Top Sellers</h2>
			</center>	
		</div>
		<div class="col-md-4"></div>
	</div>
		<br>		
	<div class="row">
		<div class="col-md-3">
			<center>Product</center>
		</div>
		<div class="col-md-3">
			<center>Product</center>
		</div>
		<div class="col-md-3">
			<center>Product</center>
		</div>
		<div class="col-md-3">
			<center>Product</center>
		</div>
	</div>
</div>	
	<br>

<!-- New Products -->
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<center>
				<h2>New</h2>
			</center>	
		</div>
		<div class="col-md-4"></div>
	</div>
		<br>		
	<div class="row">
		<div class="col-md-3">
			<center>Product</center>
		</div>
		<div class="col-md-3">
			<center>Product</center>
		</div>
		<div class="col-md-3">
			<center>Product</center>
		</div>
		<div class="col-md-3">
			<center>Product</center>
		</div>
	</div>
</div>	
	<br>



