<div class="container">
	<div class="row">
		<div class="col-md-12">
			<center>
				<h2>Lightroom Presets</h2>
			</center>
			<p>Lightroom presets are a pre-determined position of all or some of the sliders in Lightroom</p>
		</div>
	</div>
</div>
<br>

<!--------- Section for where the products are shown ------------>
<div>
	<div class="row" id="templates">
		<% @products.each do |product| %>
		<div class="col-md-3" id="column">
		<section>
			<p id="product-title">
				<h3>
				<center><%= product.title %></center>
				</h3>
			</p>
			<p id="product-description">Looking for a great preset look no further</p>
			<br>
			<a href="<%= product_path(product) %>">
				<div class="product-image-container">
					<img src="<%= asset_path product.image_name %>" class="picture" id="picture"/>
					<br>
					<br>
					<center>
						<button class="btn btn-primary">LEARN MORE</button>
					</center>
				</div>	
			</a>
		</section>
		</div>
		<% end %>
	</div>
</div>
	<br>


<script>
	$(function() {
		$('.picture').hover( function(){
			$(this).addClass('transition');

		}, function() {
			$('.picture').removeClass('transition');
		});
	});
</script>




