// Place all the styles related to the statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-picture .main-image {
	background-image: url("lake.jpg");
	background-size: cover;
	width: 100%;
	height: 700px;
}

.main-picture {
	position: relative;
}

.right-box {
	position: absolute;
	bottom: 200px;
	right: 60px;
	width: 265px;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 59px 30px 148px;
	box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.55);
	
}

.right-box p {
	line-height: 24px;
	font-family: arial;
	margin-top: 15px;
}

#box {
	font-family: 'PT Sans';
	font-size: 30px;
	font-weight: 900;
	line-height: 48px;
}

#edit {
	font-size: 17px;
}

 #column {
	border-left: 1px solid #C6C6C6;
	border-right: 1px solid #C6C6C6;
}

#templates {
	padding-left: 30px;
	padding-right: 30px;


}

#picture {
	padding: 3px;
	border: thin solid black;
}

#title {
	font-family: 'PT Sans', sans-serif;
	color: #25383C;
}

a {
	font-family: 'PT Sans', sans-serif;
	color: #25383C;
}

#explanation {
	font-family: 'PT Sans', sans-serif;
}

#product-title {
	font-size: 18px;
	font-family: arial;
	width: 60%;
	height: 44%;
	line-height: 27px;
	text-align: center;
	margin: 0 auto;
}

#product-description {
	font-size: 18px;
	font-family: arial;
	width: 60%;
	height: 44%;
	line-height: 27px;
	text-align: center;
	margin: 0 auto;
}

.grey-button {
	background-color: #C6C6C6;
	width: 240px;
	height: 55px;
	border: none;
	border-radius: 5px;
	border-bottom: 1px solid #9B9B9B;
	box-shadow: 0px 3px #9B9B9B;
	display: block;
	margin: auto;
	margin-top: 8%;
	padding: 10px 20px 10px;
}