// Place all the styles related to the statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#templates {
	padding-left: 30px;
	padding-right: 30px;

}

#picture {
	padding: 3px;
	border: thin solid black;
}

#title {
	font-family: 'PT Sans', sans-serif;
	color: #25383C;
}

#explanation {
	font-family: 'PT Sans', sans-serif;
}